// variables y mixins
@import "base/variables";
@import "base/mixins";
@import "base/global";

// bootstrap compilado
@import "../node_modules/bootstrap/scss/bootstrap";

// componentes propios
@import "components/cards";
@import "components/navbar";
@import "components/footer";